.myCard {
  min-height: 300px;
  min-width: 320px;
  font-size: large;
  text-align: left;
  padding: 5px;
}

.myCard p {
  text-transform: capitalize;
  font-weight: bolder;

}

.myCard img {

  width: 100%;
  height: 30vh;
  object-fit: cover;

}
