<mat-spinner *ngIf="weatherInfo.tempF===null"></mat-spinner>
<div *ngIf="weatherInfo.tempF!==null">
  <!-- Start Weather Card -->

  <div class="wrapper">
    <div class="box"></div>
    <div class="box_inner_shadow"></div>
    <div class="box_inner"></div>
    <div class="box_inner_tri_shadow"></div>
    <div class="box_inner_tri"></div>
    <div class="location"></div>
    <div class="mountain1"></div>
    <div class="mountain2"></div>
    <div class="tri1"></div>
    <div class="tri2"></div>
    <div class="time">{{ weatherInfo.time }}</div> <!-- need fix time -->
    <div class="date">{{ weatherInfo.date }}</div>
    <div class="cloud"><img [src]="weatherInfo.icon" alt="weathericon" /></div>
    <div class="temp">{{ weatherInfo.tempF + "&deg;F" }}</div>
    <div class="cond">{{ weatherInfo.condition }}</div>
    <div class="loc">{{ weatherInfo.location }}</div>
  </div>
</div>
