<div *ngIf='top2Article'>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="10px"
    class="topThreeArticleContainer">
    <div fxFlex='40%' *ngFor='let article of top2Article '>
      <mat-card class="example-card">
        <img mat-card-image [src]="article.urlToImage" [alt]="article.title">
        <mat-card-content>
          <p>
            {{ article.title }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <div fxFlex='50%' *ngFor='let article of top2Article '>
      <img [src]="article.urlToImage" [alt]="article.title" />
      <p>
        {{ article.title }}
      </p>
    </div> -->

  </div>
</div>
